    :root {
      /* Font */
      --bs-font-sans-serif: "Roboto", sans-serif;

      /* Colori principali */
      --bs-primary: #c1121f; /* Rosso */
      --bs-primary-rgb: 193, 18, 31; /* RGB dello stesso colore */

