---
layout: base
---

<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    netlifyIdentity.on('init', user => {
      if (!user) {
        // Nessun utente loggato → redirect
        window.location.href = '/404.html';
      }
    });
    netlifyIdentity.init();
  });
</script>


<div class="block listing simpleCard">
  <div class="public-ui">
    <div class="full-width" aria-live="polite">
      <div class="px-4 container">
        <div class="simple-card-compact-template">
          <div class="row">
            <div class="col">
              <h2 class="mb-4 mt-5 title-bottom-line">Links</h2>
            </div>
          </div>
          <div class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal card-teaser-block-3 mb-3">

            {% for link in page.links %}
              <div class="align-items-center rounded shadow card-teaser card">
                <div class="icon-argument-container"></div>
                <div class="card-body">
                  <h3 class="card-title">
                    <a data-element="custom-category-link" href="{{ link.url }}">{{ link.name }}</a>
                  </h3>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
