---
layout: base
---
<main>
<section class="it-hero-wrapper it-hero-small-size"  aria-label="In evidenza">
   <div class="img-responsive-wrapper">
      <div class="img-responsive">
         <div class="img-wrapper"><img src="https://jonez.it/assets/images/hero.png" title="{{ page.title }}" alt="{{ page.title }}"></div>
      </div>
   </div>
</section>
	<br>
	
	<div class="container" id="main-container">
                <div class="row">
                    <div class="col px-lg-4">
                        
<div class="cmp-breadcrumbs " role="navigation">
<nav class="breadcrumb-container" aria-label="breadcrumb">
	<ol class="breadcrumb p-0" data-element="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList"><meta name="numberOfItems" content="4">
		<li><a href="/FOIA/" rel="home" itemprop="item"><span itemprop="name">FOIA - Trasparenza</span></a><meta itemprop="position" content="1"></li>
		<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="breadcrumb-item active"><span class="separator">/</span><span itemprop="item"><span itemprop="name">{{ page.title }}</span></span><meta itemprop="position" content="4"></li></ol></nav>
</div>
                <div class="row">
                    <div class="col-lg-8 px-lg-4 py-lg-2">
                        <h1>{{ page.title }}</h1>
                        <h2 class="visually-hidden">Dettagli del documento</h2>
                                                    <h4>Protocollo {{ page.id }} del {{ page.update }}</h4>
                                                <p> {{ page.descrizionebreve }} </p>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                    </div>
                </div>
            </div><!-- ./main-container -->

            <div class="container">
                <div class="row border-top border-light row-column-border row-column-menu-left">
                    <aside class="col-lg-3">
                        <div class="cmp-navscroll sticky-top" aria-labelledby="accordion-title-one">
                            <nav class="navbar it-navscroll-wrapper navbar-expand-lg" aria-label="Indice della pagina" data-bs-navscroll="">
                                <div class="navbar-custom" id="navbarNavProgress">
                                    <div class="menu-wrapper">
                                        <div class="link-list-wrapper">
                                            <div class="accordion">
                                                <div class="accordion-item">
                                                    <span class="accordion-header" id="accordion-title-one">
                                                        <button class="accordion-button pb-10 px-3 text-uppercase" type="button" aria-controls="collapse-one" aria-expanded="true" data-bs-toggle="collapse" data-bs-target="#collapse-one">INDICE DELLA PAGINA
                                                            <svg class="icon icon-sm icon-primary align-top">
                                                                <use xlink:href="/media/sprites.svg#it-expand"></use>
                                                            </svg>
                                                        </button>
                                                    </span>
                                                    <div class="progress">
                                                        <div class="progress-bar it-navscroll-progressbar" role="progressbar" aria-valuenow="0.10309278350515465" aria-valuemin="0" aria-valuemax="100" style="width: 0.103093%;"></div>
                                                    </div>
                                                    <div id="collapse-one" class="accordion-collapse collapse show" role="region" aria-labelledby="accordion-title-one">
                                                        <div class="accordion-body">
                                                            <ul class="link-list" data-element="page-index">
                                                                                                                                <li class="nav-item">
                                                                    <a class="nav-link active" href="#descrizione">
                                                                        <span>Descrizione</span>
                                                                    </a>
                                                                </li>
                                                                
                                                                                                                                <li class="nav-item">
                                                                    <a class="nav-link" href="#documento">
                                                                        <span>Documento</span>
                                                                    </a>
                                                                </li>
                                                                
                                                                <li class="nav-item">
                                                                    <a class="nav-link" href="#ufficio_responsabile">
                                                                        <span>Org</span>
                                                                    </a>
                                                                </li>

                                                                
                                                                <li class="nav-item">
                                                                    <a class="nav-link" href="#formati_disponibili">
                                                                        <span>Formati disponibili</span>
                                                                    </a>
                                                                </li>

                                                                <li class="nav-item">
                                                                    <a class="nav-link" href="#licenza_distribuzione">
                                                                        <span>Licenza di distribuzione</span>
                                                                    </a>
                                                                </li>																

                                                                
                                                                
                                                                
                                                                
                                                                
                                                                
                                                                                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </aside>

                    <div class="col-12 col-lg-9">
                        <div class="it-page-sections-container">
                                                        <section id="descrizione" class="it-page-section mb-5">
                                <h4>Descrizione</h4>
                                <div class="richtext-wrapper lora">
<p> {{ page.descrizione }} </p>
							                  </div>
                            </section>
                            
                                                        <section id="documento" class="it-page-section mb-5">
                                <h4>Documento</h4>
                                <div class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal">
                                                                        <div class="card card-teaser shadow-sm p-4 mt-3 rounded border border-light flex-nowrap">
                                            <svg class="icon" aria-hidden="true">
                                                <use xlink:href="/media/sprites.svg#it-clip"></use>
                                            </svg>
                                            <div class="card-body">
                                                <h5 class="card-title">
                                                    <a class="text-decoration-none" href="{{ page.doc }}" aria-label="Scarica il documento" title="Scarica il documento">
                                                        Scarica il documento
                                                    </a>
                                                </h5>
                                            </div>
                                        </div>
                                                                    </div><!-- ./card-wrapper -->
                            </section>
                            
                            <section id="ufficio_responsabile" class="it-page-section mb-5">
                                <h4>Unità Organizzativa responsabile</h4>
                                <div class="card-wrapper card-teaser-wrapper card-teaser-wrapper-equal">
                                    <div class="card card-teaser border rounded shadow p-4 flex-nowrap">
    <div class="card-body pe-3">
        <h4 class="u-main-black mb-1 title-small-semi-bold-medium">
            <a class="text-decoration-none" href="http://jonez.it/dipartimenti/">
            {{ page.up }}            </a>
        </h4>
        <div class="card-text">
            <p></p>
        </div>
    </div>
    </div>

                                </div>
                            </section>

                            
                                                        <section id="formati_disponibili" class="it-page-section mb-5">
                                <h4>Formati disponibili</h4>
                                <div class="richtext-wrapper lora">
                                    <p>PDF</p>
		
                                </div>
                            </section>
                            
                                                        <section id="licenza_distribuzione" class="it-page-section mb-5">
                                <h4>Licenza distribuzione</h4>
                                <div class="richtext-wrapper lora">
                                    pubblico dominio                                </div>
                            </section>
                            
                            
                            
                            
                            
                            
                                                    </div><!-- /it-page-sections-container -->

                        <div>
                            
<article id="ultimo-aggiornamento" class="it-page-section mt-5">
    <h4 class="h6">Data di creazione:
    <span class="h6 fw-normal">{{ page.date }}</span>
    <h4 class="h6">Ultimo aggiornamento:
    <span class="h6 fw-normal">{{ page.update }}</span>
    </h4>
</article>                        </div>

										</div><!-- ./col-12 col-9 -->

                </div><!-- ./row border-top border-light row-column-border row-column-menu-left -->
            </div><!-- ./container -->

</main>
